@model PizzeriaWeb3._1.Models.Productos

@{
    ViewData["Title"] = "Detalles:";
}

<h1>Detalles de este proucto:</h1>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockProducto)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProducto">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
