@model IEnumerable<PizzeriaWeb3._1.Models.Productos>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/stylesList.css" />

<h1>Lista de Productos</h1>

<p>
    <a asp-action="Create">Crear nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockProducto)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockProducto)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProducto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProducto">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProducto">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Administracion" asp-controller="Home" class="btn btn-primary">Volver</a>
</div>
