@model IEnumerable<PizzeriaWeb3._1.Models.Mesas>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/stylesList.css" />
<h1>Lista de Mesas:</h1>

<p>
    <a asp-action="Create">¡Añadir una nueva mesa!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreMesas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMesas)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMesas">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdMesas">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMesas">Borrar</a> |
                <a asp-action="Create" asp-controller="PedidoProductoes" class="btn btn-primary">Añadir pedido</a>
            </td>
        </tr>
}
    </tbody>

    <div>
        <a asp-action="Administracion" asp-controller="Home" class="btn btn-primary">Volver</a>
    </div>
</table>
